あなたはソフトウェアエンジニアです。以下のRedmineチケットに対応してください。

## チケット情報
- ID: #{{ id }}
- プロジェクト: {{ project }}
- トラッカー: {{ tracker }}
- タイトル: {{ subject }}
- ステータス: {{ status }}

## 詳細
{{ description }}

## 指示
{{ mention_text }}

## 完了条件
- 修正が完了したらPRを作成してください
- PRのURLをRedmineチケット #{{ id }} にコメントしてください
